.smallerinput {
    font-size: 10pt !important;
    height: 20pt !important;
    padding: 0 0 0 3%;
    /* color: blue; */
    /* font-weight: bold; */
}

.requiredspan {
    color: red;
}

label {
    display: inline-block;
    margin-bottom: 0;
}

.table thead th, tbody td {
    vertical-align: middle;
    text-align: center;
}

.table td, .table th {
    padding: .25rem;
    vertical-align: middle;
}

/* profile */
table {
    margin-bottom: 0 !important;
}

h6 {
    font-weight: bold;
    text-decoration: underline;
}

hr {
    border: 1px solid #d3d3d3 !important;
}

.announcement-date {
    text-decoration: underline; 
    text-align: right;
}

.announcement-text {
    text-align: justify;
}

.dropdown-menu-lg {
    max-width: 200px;
    min-width: 200px;
}

.billing-desc{
    text-align: left !important;
}

.billing-table tfoot{
    text-align: center !important;
}
/* .billing-table th, td {
    border: 1px solid #fff !important;
} */