
    .stroke-text {
    color: white;
    text-shadow: -1px -1px 0 #000,   1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: 800;
    }
    
    .stroke-text{
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-weight: 800;
    }


    .fill-yellow {
    background-image: linear-gradient(to bottom, #fbe295, #fccc38);
    }


    .fill-blue {
    background-image: linear-gradient(to bottom, #e7f3fd, #bdd7ee);
    }


    .fill-red {
    background-image: linear-gradient(to bottom, #f66160, #f13533);
    }


    .fill-light-orange {
    background-image: linear-gradient(to bottom, #fdddc8, #efb894);
    }

    .fill-cubs {
    background-image: linear-gradient(to bottom, #dbe2d5, #b7c3ae);
    }


    .fill-gray {
    background-image: linear-gradient(to bottom, #ffffff, #cacaca);
    }


    .fill-green {
    background-image: linear-gradient(to bottom, #39dc7f, #00b34d);
    }


    .fill-semi-orange {
    background-image: linear-gradient(to bottom, #d69e7a, #c8865c);
    }


    .fill-dark-orange {
    background-image: linear-gradient(to bottom, #d26d33, #bd5215);
    }


    .fill-dark-blue {
    background-image: linear-gradient(to bottom, #405c86, #1e3a63);
    }


    .fill-dark-gray {
    background-image: linear-gradient(to bottom, #a2a4a8, #515254);
    }


    .table-sched a {
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px 10px 60px 10px;
    /*table default padding except on bottom 500px for example*/
    margin-bottom: -50px;
    }

    .fill-semi-yellow{
    background-image: linear-gradient(to bottom, #fbe295 , #fccc38);
    }

    .fill-yellow{
        background-image: linear-gradient(to bottom, #c3f143 , #1eff00);
    }

    .fill-blue{
    background-image: linear-gradient(to bottom, #e7f3fd , #bdd7ee);
    }

    .fill-red{
    background-image: linear-gradient(to bottom, #f66160 , #f13533);
    }

    .fill-light-orange{
    background-image: linear-gradient(to bottom, #fdddc8 , #efb894);
    }

    .fill-cubs{
    background-image: linear-gradient(to bottom, #dbe2d5 , #b7c3ae);
    }

    .fill-gray{
    background-image: linear-gradient(to bottom, #ffffff , #cacaca);
    }

    .fill-green{
    background-image: linear-gradient(to bottom, #39dc7f , #00b34d);
    }

    .fill-semi-orange{
    background-image: linear-gradient(to bottom, #d69e7a , #c8865c);
    }

    .fill-dark-orange{
    background-image: linear-gradient(to bottom, #ff5e00 , #d88859);
    }

    .fill-dark-blue{
    background-image: linear-gradient(to bottom, #405c86 , #1e3a63);
    }

    .fill-dark-gray{
    background-image: linear-gradient(to bottom, #a2a4a8 , #515254);
    }

    .fill-dark-violet{
        background-image: linear-gradient(to bottom, #7d0eb1 , #3f0d57);
    }

    .fill-light-white{
        background-image: linear-gradient(to bottom, #70c0ca , #57b6b6);
    }

    .fill-semi-white{
        background-image: linear-gradient(to bottom, #0e7474 , #33585f);
    }

    .fill-dark-white{
        background-image: linear-gradient(to bottom, #1c4b4b , #1d2b2e);
    }

    .table-sched{
        a{
            display: block;
            height: 100%;        
            width: 100%;
            padding: 10px 10px 60px 10px; /*table default padding except on bottom 500px for example*/
            margin-bottom: -50px;
        }
        
    }

    .table-sched th{
    text-align: center;
    vertical-align: middle !important;
    padding: 0.25% !important;
    border: 1px solid #000 !important;
    }

    .table-sched td{
        text-align: center;
        vertical-align: middle !important;
        padding: 0.25% !important;
        border: 1px solid #000 !important;
    }



    .header-style{
    background-color: #9b99ee;
    }
    



    /* .comment:after {
        content: "";
        position: relative;
        top: 0.5em;
        border-left: 0.5em solid transparent;
        border-top: 0.5em solid red;
    } */




/*       
    .table-sched td:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 15px #beb645;
      }
      
      td:hover {
        color: #ffee10;
        box-shadow: 0 0 5px #ffee10;
        text-shadow: 0 0 5px #ffee10;
      } */






    .table-sched td{
            transition: all .2s ease-in-out;
    }
        
    .table-sched td:hover{
            transform: scale(1.1);
            box-shadow: 0 0 5px #000000;
    }

    .table-sched tr:hover{
            background: #62ff06;
    }
              